@model IEnumerable<ISPYZU.Models.RunningCourses>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Running Courses</h2>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RCId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Courses.CourseName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teacher.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RCId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Courses.CourseName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teacher.Name)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RCId }) |
                @Html.ActionLink("Details", "Details", new { id = item.RCId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.RCId })
            </td>
        </tr>
    }

</table>
