@model IEnumerable<ISPYZU.Models.Colleges>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Colleges</h2>

@if (Session["UserName"] != null)
{
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.CollegeId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CollegeName)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.CollegeId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CollegeName)
        </td>   
        @if (Session["UserName"] != null) { 
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.CollegeId }) |
                @Html.ActionLink("Details", "Details", new { id = item.CollegeId }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CollegeId })
            </td>
        }
    </tr>
    }

</table>
