@model IEnumerable<ISPYZU.Models.CourseEnrolled>

@{
    ViewBag.Title = "Index";
}




@if (Session["UserName"] != null)
{
    <h2 class="text-center">Course Enrolled</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}
@if (Session["StudentId"] != null)
{
    <h2 class="text-center">Course Enrollment</h2>
    <p>
        @Html.ActionLink("Create New", "Create")
    </p>
}

    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CEId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Courses.CourseName)
            </th>
            @if (Session["StudentId"] == null)
            {
                <th>
                    @Html.DisplayNameFor(model => model.Student.Name)
                </th>
            }

            <th>
                Teacher @Html.DisplayNameFor(model => model.Teacher.Name)
            </th>
            <th></th>
        </tr>


        @foreach (var item in Model)
        {
            <tr>
                <td>
                   
                    @Html.DisplayFor(modelItem => item.CEId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Courses.CourseName)
                </td>
                @if (Session["StudentId"] == null)
                {
                    <td>
                        @Html.DisplayFor(modelItem => item.Student.Name)
                    </td>
                }

                <td>
                    @Html.DisplayFor(modelItem => item.Teacher.Name)

                </td>

                @if (Session["UserName"] != null)
                {
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.CEId }) |
                        @Html.ActionLink("Details", "Details", new { id = item.CEId }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.CEId })
                    </td>
                }
            </tr>
        }

    </table>
